http://localhost:8000 {
    root /static/* ./static
    uri strip_prefix /static
    rewrite /stations* ./static/web/stations.html
    file_server

    handle_path /api/2.2/* {
        reverse_proxy http://localhost:8001
    }

    handle /user/* {
        reverse_proxy http://localhost:8006
    }
    handle /admin/* {
        reverse_proxy http://localhost:8006
    }
    handle /django-static/* {
        reverse_proxy http://localhost:8006
    }

    redir / /stations/
}
