<div class="modal" id="detailModal" ui-view="detailView" tabindex="-1" role="dialog">
</div>

<script type="text/ng-template" id="_infobox.html">
    <div class="wdm-card-border wdm-card-layout wdm-card-map" ng-click="main.selectStation()">
        <div class="wdm-name" style="float: left;" ng-switch="$app.profile.favorites.indexOf(main.selectedStation._id) > -1">
            <span ng-click="$app.toogleFavorite(main.selectedStation._id, $event)">
                <span ng-switch-when="true"><i class="material-icons">favorite</i></span>
                <span ng-switch-default><i class="material-icons">favorite_border</i></span>
            </span>
            <span class="wdm-name-text">{{ main.selectedStation.short }}</span>
        </div>
        <div class="wdm-info" style="float:right;">
            <div class="wdm-last-update" style="float:right;" ng-class="main.selectedStation.fromNowClass">{{ main.selectedStation.fromNow }}</div>
            <div class="wdm-provider" style="clear:right;float:right;">{{ main.selectedStation['pv-name'] }}</div>
        </div>
        <div class="wdm-altitude" style="clear:left;float:left;">{{ main.selectedStation.alt }} <span translate>meters</span>
            <i ng-if="main.selectedStation.peak" class="material-icons" style="font-size: 18px; vertical-align: middle; margin-bottom: 3px;">terrain</i>
        </div>
        <div class="wdm-wind-speed" style="clear:left;float:left;width: 50%;">
            <div class="wdm-wind-avg">{{ main.selectedStation.last['w-avg'].toFixed(1) }}</div>
            <div class="wdm-wind-max">{{ main.selectedStation.last['w-max'].toFixed(1) }}<span class="wdm-unit" translate>km/h</span></div>
            <svg class="wdm-wind-mini-chart" style="width:100%;max-width:70px;" viewBox="0 0 100 40" data-scope-watch="main.selectedStation.historic"></svg>
        </div>
        <svg class="wdm-wind-dir-chart" style="float:right;width:70px;height:70px;" viewBox="0 0 100 100" data-scope-watch="main.selectedStation.historic"></svg>
    </div>
</script>

<script type="text/ng-template" id="_legend.html">
    <div class="wdm-map-legend">
        <table>
            <tr><td class="wdm-map-legend-type"><img src="//files-windsmobi.netdna-ssl.com/static/web/img/arrow-triangle-right.svg"><span translate>Summit</span></td></tr>
            <tr><td class="wdm-map-legend-type"><img src="//files-windsmobi.netdna-ssl.com/static/web/img/arrow-round-right.svg"><span translate>Plain</span></td></tr>
            <tr><td><div style="height: 1px; margin-left: 5px; margin-right:5px; background-color: #E6E6E6;"></div></td></tr>
            <tr><td ng-style="main.getLegendColorStyle(-1);" translate>no recent data</td></tr>
            <tr><td ng-style="main.getLegendColorStyle(5);" class="wdm-map-hideable"><5 km/h</td></tr>
            <tr><td ng-style="main.getLegendColorStyle(10);">10 km/h</td></tr>
            <tr><td ng-style="main.getLegendColorStyle(15);" class="wdm-map-hideable">15 km/h</td></tr>
            <tr><td ng-style="main.getLegendColorStyle(20);">20 km/h</td></tr>
            <tr><td ng-style="main.getLegendColorStyle(25);" class="wdm-map-hideable">25 km/h</td></tr>
            <tr><td ng-style="main.getLegendColorStyle(30);">30 km/h</td></tr>
            <tr><td ng-style="main.getLegendColorStyle(35);" class="wdm-map-hideable">35 km/h</td></tr>
            <tr><td ng-style="main.getLegendColorStyle(40);">40 km/h</td></tr>
            <tr><td ng-style="main.getLegendColorStyle(45);" class="wdm-map-hideable">45 km/h</td></tr>
            <tr><td ng-style="main.getLegendColorStyle(50);">>50 km/h</td></tr>
        </table>
    </div>
</script>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header" ng-include="'/static/web/templates/_menu-search.html'">
    </header>
    <main class="mdl-layout__content">
        <div id="wdm-map" class="page-content">
        </div>
    </main>
</div>
